.env
.venv
*__pycache__/
*.pyc
*.pyo
*.pyd
*.db
database_creation.sh
data.txt
# Ignore all other migration files except the initial and __init__
!core/migrations/0001_initial.py
!core/migrations/__init__.py
# Ignore all other migration files except the ones explicitly included above
# core/migrations/*.py
