Django==4.2.10
channels==4.2.0
daphne==4.1.2
django-cors-headers==4.7.0
django-debug-toolbar==4.4.6
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
Pillow==11.1.0
psycopg2-binary==2.9.10
python-decouple==3.8
redis==5.2.1
requests==2.32.3
PyJWT==2.9.0
python-telegram-bot==22.0
whitenoise==6.5.0