<!DOCTYPE html>
<html lang="rw">
<head>
    {% load static  %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AgriConnect{% endblock %}</title>
    
    <!-- <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">AgriConnect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Ahabanza</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup/">Kora Konti</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/login/">Injira</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/products/">Ibihari</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/">Konte yawe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat/">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notifications/">Ubutumwa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Gusohoka</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="flex-fill main-content">
        <div class="container mt-4">
            {% block content %}
            <!-- Main content will be injected here -->
            {% endblock %}
        </div>
    </main>

    <footer class="footer">
        <p>&copy; 2024 AgriConnect All Rights Reserved.</p>
    </footer>

    <!-- <script src="{% static 'bootstrap.bundle.min.js' %}"></script> -->

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
