{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Login - AgriConnect{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Injira - {{ role }}</h2>
    <form action="/login/{{ role }}/" method="post" class="mt-4">
        <div class="mb-3">
            <label for="username" class="form-label">Imeyili cyangwa Telefone</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Injiza imeyili cyangwa telefone" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Ijambo Ry'ibanga</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Injiza ijambo ry'ibanga" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Injira</button>
        </div>
    </form>
    <p class="text-center mt-3">
        Nta Konti? <a href="/signup/">Kora Konti</a>
    </p>
</div>

{% endblock %}