<!-- templates/core/user_profile.html -->
{% extends 'core/base.html' %}
{% load i18n static %}

{% block title %}User Profile - AgriConnect{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{% trans welcome_message %}</h1>
        <div class="row mt-4">
            <!-- User Details -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ name|default:_("No Name Set") }}</h5>
                        <p><strong>{% trans "Phone:" %}</strong> {{ profile.phone|default:_("Not Provided") }}</p>
                        {% if profile.bio %}
                            <p><strong>{% trans "Bio:" %}</strong> {{ profile.bio }}</p>
                        {% endif %}
                    </div>
                    <!-- Add Product Button -->
                    {% if request.user.profile.role|lower in "umuhinzi" and "cooperative" %}
                        <a href="{% url 'add_product' %}" class="btn btn-primary">{% trans "Add Product" %}</a>
                    {% endif %}
                </div>
            </div>

            <!-- User Products -->
            <div class="col-md-8 mb-4">
                {% if product_count == 0 %}
                    <p>{% trans "You haven't added any products yet!" %}</p>
                {% else %}
                    {% for product in products %}
                        <!-- Card layout for each product -->
                        <div class="product-card card mb-4">
                            {% if product.media %}
                                <img class="product-image" src="{{ product.media.url }}" alt="{{ product.name }}" width='100%'>
                            {% else %}
                                <img class="product-image" src="{% static 'img/no_image.png' %}" alt="{% trans "No Image Yet" %}" width='100%'>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p><strong>{% trans "Price per Unit:" %}</strong> {{ product.price_per_unit }} RWF</p>
                                {% if product.description %}
                                    <p>{{ product.description|truncatewords:20 }}...</p>
                                {% endif %}
                                {% if user == request.user %}
                                    <!-- Edit button -->
                                    <a href="{% url 'edit_product' pk=product.id %}" class="btn btn-sm btn-outline-primary">{% trans "Hindura" %}</a>
                                    <!-- Delete button -->
                                    <a href="{% url 'delete_product' pk=product.id %}" class="btn btn-sm btn-outline-danger">{% trans "Siba" %}</a>
                                {% endif %}
                            </div>
                        </div><!-- end card -->
                    {% endfor %}
                {% endif %}
            </div><!-- end col -->

        </div><!-- end row -->

    </div><!-- end container -->

{% endblock %}
