<!-- templates/core/verify_email.html -->
{% extends 'core/base.html' %}

{% block content %}
<form method="POST" action="/verify-email/">
    {% csrf_token %}
    <input type="text" name="verification_code" placeholder="Enter Verification Code" required>
    <button type="submit">Verify</button>
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- Resend Code Button -->
<form method="POST" action="/resend-code/">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Enter your email" required>
    <button type="submit">Resend Code</button>
</form>
{% endblock %}
