{% extends 'core/base.html' %}
{% block title %}Login - Umuguzi{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Injira nk'Umuguzi</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Imeyili</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Injiza imeyili yawe" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Ijambo Ry'ibanga</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Injiza ijambo ry'ibanga" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Injira</button>
        </div>
    </form>
</div>
{% endblock %}
